<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geshanzsq.blog.admin.blog.article.mapper.BlogArticleTagMapper">

    <!-- 获取关联文章数量 -->
    <select id="selectAssociateArticleCount" parameterType="Long" resultType="java.lang.Long">
        select count(*) from blog_article_tag t
        inner join blog_article a on t.fk_article_id = a.id
        where t.fk_tag_id in
        <foreach collection="tagIds" item="tagId" open="(" separator="," close=")">
            #{tagId}
        </foreach>
    </select>
</mapper>