<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geshanzsq.client.blog.collect.mapper.BlogArticleCollectMapper">

    <resultMap id="LikeCountResultMap" type="com.geshanzsq.client.blog.collect.vo.BlogArticleCollectCountVO" >
        <result column="article_id" property="articleId" />
        <result column="count" property="count" />
    </resultMap>

    <resultMap id="PageResultMap" type="com.geshanzsq.client.blog.article.vo.BlogArticlePageVO" >
        <result column="id" property="id" />
        <result column="article_title" property="articleTitle" />
        <result column="cover_url" property="coverUrl" />
        <result column="gmt_publish" property="gmtPublish" />
    </resultMap>

    <!-- 获取收藏数量 -->
    <select id="selectCountByArticleIds" resultMap="LikeCountResultMap">
        SELECT
            fk_article_id AS article_id,
            count( fk_create_user_id ) AS count
        FROM
            blog_article_collect
        WHERE fk_article_id IN
            <foreach collection="articleIds" item="articleId" open="(" separator="," close=")">
                #{articleId}
            </foreach>
        GROUP BY
            article_id
    </select>

    <!-- 查询列表 -->
    <select id="selectList" resultMap="PageResultMap">
        SELECT
            a.id,
            a.article_title,
            a.cover_url,
            c.gmt_create AS gmt_publish
        FROM
            blog_article_collect c
            INNER JOIN blog_article a ON c.fk_article_id = a.id
        WHERE
            a.status = #{articleStatus}
            AND c.fk_create_user_id = #{userId}
        ORDER BY
            gmt_publish DESC
    </select>

</mapper>