<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geshanzsq.blog.admin.blog.tag.mapper.BlogTagMapper">

    <resultMap id="BaseResultMap" type="com.geshanzsq.blog.admin.blog.tag.vo.BlogTagVO" >
        <result column="id" property="id" />
        <result column="tag_name" property="tagName" />
        <result column="sort" property="sort" />
        <result column="click_count" property="clickCount" />
        <result column="status" property="status" />
        <result column="gmt_time" property="gmtCreate" />
        <result column="fk_create_user_id" property="createUserId" />
        <result column="gmt_modify" property="gmtModify" />
        <result column="fk_modify_user_id" property="modifyUserId" />
        <result column="fk_article_id" property="articleId" />
    </resultMap>

    <!-- 获取最大排序 -->
    <select id="getMaxSort" resultType="Integer">
        select max(sort) from blog_tag
    </select>

    <!-- 获取标签 -->
    <select id="selectListByArticleIds" parameterType="Long" resultMap="BaseResultMap">
        select t.id, t.tag_name, bat.fk_article_id from blog_article_tag bat
        inner join blog_tag t on bat.fk_tag_id = t.id
        where bat.fk_article_id in
        <foreach collection="articleIds" item="articleId" open="(" separator="," close=")">
            #{articleId}
        </foreach>
    </select>

</mapper>